@charset "utf-8";
/* CSS Document */
/*body {
	background-repeat: repeat-y;
	margin: 0px;
	_padding: 0px;
	text-align: center;
	font-family: Tahoma;
	font-size: 13px;
	background-image: url(../images/bg2.png);
	background-color: #FFF;
	background-attachment: fixed;
	background-position: center;
}
*/
a:link {	
	text-decoration: none;
	color:#000000;	
}
a:visited {
	text-decoration: none;
	color:#000000;
}
a:hover {
	text-decoration: none;
	color:#FF0000;
}

a:active {
	text-decoration: none;
}


#container {
	background-color: #FFFFFF;
	width: 960px;
	margin: auto;
	text-align:left;
}
#header{	
	height:50px;
	width:960px;
}
#menu-quantri{
	height:35px;
	width:960px;
}
#menu-ngang {
	width:960px;
	height:75px;	
}
#main{
	width:960px;
	background-color:#FFFFFF;	
	height:auto;
}
#content-left{
	float:left;
	width:215px;	
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom:1px solid #CCC;
}
#content-right{
	margin-left:220px;
	width:735px;
	border-left: 1px solid #CCC;
	_display:inline;
}


.button{
	width:80px; 
	background-image:url(C:\wamp64\www\webmypham\images\button-o.gif); 
	border:0; 
	font:Tahoma; 
	color:#FFFFFF;
	height:26px;
}
.button2{
	width:110px; 
	background-image:url(../../images/button-110.png); 
	border:0; 
	font:Tahoma; 
	color:#FFFFFF;
	height:26px;
}
.button3{
	width:150px; 
	background-image:url(../images/button-150.png); 
	border:0; 
	font:Tahoma; 
	color:#FFFFFF;
	height:26px;
}
.divshow
{   
	float: left;
	overflow:hidden;
	width:175px;
    HEIGHT: 220px;	
	text-align:center;
	padding:4px;
}
.divshow2
{   
	float: left;
	overflow:hidden;
	width:175px;
    HEIGHT: 220px;	
	text-align:center;
	padding:3px;
}
.indam{
	font-weight:bold;
}

.tieude{
	color:#FFFFFF; font-family:Tahoma; font-size: 14px; font-weight:bold;
	background-color:#d4340c;height:30px;
}
.ketthuc{
	text-align:center;
	background-color:#fffffff;
	height:35px;
	color:#FFFFFF;
	font-weight:bold;
}

.m:link {	
	text-decoration: none;
	color:#FFFFFF;	
}
.m:visited {
	text-decoration: none;
	color:#FFFFFF;
}
.m:hover {
	text-decoration: none;
	color:#FF0000;
}

.m:active {
	text-decoration: none;
}

.menu{
	padding-left:30px; 
	border:0px solid #d4340c; 
	background-image:url(../img/bg_tieude3.jpg);	
}